<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.alex.wallpaperapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyFullScreenTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id"
            tools:replace="android:value" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider2146744878922212"
            android:exported="true" />

        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/MyFullScreenTheme" />
        <activity
            android:name=".ui.ListWallPaperActivity"
            android:theme="@style/MyFullScreenTheme" />
        <activity
            android:name=".ui.ViewWallPaperActivity"
            android:label="@string/title_activity_view_wall_paper"
            android:parentActivityName=".ui.ListWallPaperActivity"
            android:theme="@style/MyFullScreenTheme" />
        <activity android:name=".ui.AuthUiActivity" />
        <activity android:name=".ui.UploadPhotoActivity" />
        <activity
            android:name=".ui.ListUserImagesActivity"
            android:theme="@style/MyFullScreenTheme" />
        <activity android:name=".ui.ViewUserImageActivity" />
        <activity android:name=".ui.NoInternetActivity" />

        <receiver android:name=".widget.IconAppWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/icon_app_widget_info" />
        </receiver>
    </application>

</manifest>